
<% provide(:title, 'Edit Access Page') %>

<div class="center hero-unit">
<h2> Edit Access To Your Files </h2>
</div>

<%=form_tag controller:'cb_employees', :action=>'filter_viewers' do%>
<div class="field" style="text-align: left">
<%= label(:user, "User: ")%>
<%= autocomplete_field_tag :added_user, "", autocomplete_cb_employees_network_name_cb_employees_path, :placeholder => 'Enter a CB User...' %>
</div><br/>
<div class="field" style="text-align: left">
<%= label(:subordinates, "Include Subordinates (Reports directly/indirectly to user):")%>
<%= check_box_tag :recursive%>
</div><br/>
<div class="field" style="text_align: left">
Add
<%= radio_button_tag 'add', 'adder'%>
Remove
<%= radio_button_tag 'add', 'remover'%>
</div>
<%= submit_tag :Submit %>
<% end %>
